<div class="card filter-card mb-4">
    <div class="card-body">
        <form id="filterForm">
            <div class="row g-3">
                <div class="col-md-6">
                    <label class="form-label">Организация *</label>
                    <select id="organization" class="form-select" required>
                        <option value="" selected disabled>Выберите организацию</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label class="form-label">Дата с *</label>
                    <input type="text" class="form-control datepicker" id="dateFrom" placeholder="Выберите дату" required>
                </div>
                <div class="col-md-3">
                    <label class="form-label">Дата по *</label>
                    <input type="text" class="form-control datepicker" id="dateTo" placeholder="Выберите дату" required>
                </div>
                <div class="col-md-12">
                    <div class="form-check form-switch mt-2">
                        <input class="form-check-input" type="checkbox" id="monthly">
                        <label class="form-check-label">Группировать по месяцам</label>
                    </div>
                </div>
                <div class="col-md-12 mt-3">
                    <div class="col-md-12 mt-3 d-flex justify-content-end">
                        <div class="btn-group" role="group">
                            <button type="submit" class="btn btn-primary px-4" id="applyBtn">
                                Показать данные
                            </button>
                            <button type="button" class="btn btn-success px-4" id="exportBtn">
                                <i class="bi bi-file-earmark-excel-fill me-2"></i>
                                Экспорт в Excel
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>